body {
  text: var(--bs-secondary);
  font-size: 12px;
  padding: 3px;
  background-image: url('/assets/flat-lay-desktop-with-agenda-magnifying-glass.jpg');
  background-size: 100%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* remove the border */
.table {
  border:none
}

/* Shrink the tables rows down a bit*/
.table tr,.table td {
  height: 10px;
  padding: 2px;
  padding-left: 20px;
  vertical-align: middle;
  color: #171b27;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
}

.column_search {
  min-width: 3rem;
  border-radius: 3px;
  width: 100%;
}

.timestamp_column {
  min-width: 17rem;
}

.main_column {
  width: 99%;
}

.grid-stack { 
  background: rgba(187, 187, 187, 0.125);
  border-radius: 5px;
}

.grid-stack-item {
  background-color: var(--bs-primary-border-subtle);
  border-color: var(--bs-black);
  border-radius: 5px;
}

.grid-stack-item-content { 
  color: var(--bs-emphasis-color);
  background-color: var(--bs-primary);
  border-color: var(--bs-black);
  border-radius: 5px;
  border-width: 3px;
}

.tooltip,.tooltip-inner {
  color: var(--bs-white);
}

.glow {
  box-shadow: 0 0 30px 
}

.text_control,textarea {
  background-color: var(--bs-dark);
  color: var(--bs-secondary)
}

.number_control {
  background-color: var(--bs-dark);
  color: var(--bs-secondary)
}

/** golden layout changes */
.lm_content {
  overflow: scroll;
}

.lm_header .lm_tab {
  border: 1px solid white;
  border-radius: 5px 5px 0px 0px;
}

/** Table Striping */
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: rgb(0,0,0,0.25)
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: rgba(37, 37, 37, 0.146);
}

/** Table striping for the values table, for some reason all of the values ended up in the thead instead of tbody */
.table-striped > thead > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: rgba(37, 37, 37, 0.146);
  text-align: center
}

.table-striped > thead > tr:nth-of-type(even) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: rgb(0,0,0,0.25)
  text-align: center
}

/** Tab/Window Content */
.golden-content {
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin: 0px 5px 5px 0px;
  background-color:peachpuff
}

/** Scroll bars did not change to dark theme */
.lm_content::-webkit-scrollbar {
  width: 14px;
}

.lm_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 1px 1px 2px var(--bs-white); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.lm_content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: var(--bs-gray); 
  -webkit-box-shadow: inset 1px 1px 4px var(--bs-secondary); 
  width: 10px;
}

.lm_content::-webkit-scrollbar-corner {
  background: var(--bs-dark);
}

/** Make the bootstrap buttons smaller than small. */
.button-extra-small {
  padding: 5px 10px 5px 10px;
  font-size: 10px;
}

